<!DOCTYPE html>
<html>
<head>
  <title>Hackathon Teams</title>
  <!-- Latest compiled and minified CSS & JS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
</head>
<body>
  <div class="container">
    <h1 class="text-center">Seattle Hackathon</h1>
    <%- body %>
    <hr>
    <a href="/" class="btn btn-primary">Home</a>
    <a href="/teams" class="btn btn-success">Teams</a>
    <a href="/teams/new" class="btn btn-info">Make a New Team</a>
  </div>
  <script src="//code.jquery.com/jquery.js"></script>
  <script src="/main.js"></script>
</body>
</html>
